apiVersion: v1
kind: Secret
metadata:
  name: argocd-repo-[[ slug ]]
  labels:
    {{- include "argocd.labels" . | nindent 4 }}
    argocd.argoproj.io/secret-type: repository
stringData:
  name: [[ slug ]]
  type: git
  url: [[ repo_url ]]
  sshPrivateKey: <path:kv/data/argocd/repository#[[ ssh_host ]]> 